   body{
     background-color: lightblue;
   }
   .body-pass {
     background-color: lightblue;
   }
   button {
     padding: 8px 16px;
     background-color: lightblue;
     border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    transition: 0.1s;
   }
   .notes {
     background-color: lightblue;
     font-family: Arial;
   }
   .choose-level {
   background-color: lightblue;
     font-family: Arial;
   }
   .notes2 {
     background-color: lightblue;
     font-family: Arial;
   }
     h2 {
       border: none;
       background-color:lightblue;
       width:300;
       height:20;
       font-size:25;
       text-align:center;
       padding: 45;
     }
     h4 {
       font-size: 25;
     }
     p {
       background-color:white;
       font-size:20;
       font-family: Georgia;
     }
     li {
       margin-bottom: 9px;
       font-size: 15px;
       color: black;
       background-color:lightblue;
       padding: 14px;
     }
     p {
       font-family:Arial;
     }
     .subjects-grid {
       list-style: none;
       padding:12px;
       margin: 20px 0;
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 15px;
     }
     .button {
       border: none;
       padding:0px;
       background-color: lightblue;
       text-align: center;
     }
